.app-header {
    background: #93b874 !important;
}



.app-header__logo .logo-src{
    /* background: url(../asset/itecheys-logo.png) !important; */
    background: none !important;
}

@media only screen and (min-width: 1199px) {
    .app-sidebar{
        padding-top: 0px !important;
    }
  }