/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    Common css in whole side
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@import url('https://fonts.maateen.me/kalpurush/font.css');
:root {
	--primaryColor: #93b874;
	/* --primaryBackground:#F5F5F5; */
	--primaryBackground: #e9e9ed;
	/* --bodyBackground:#f7f7ff; */
	--bodyBackground: #dbd9d9 none repeat scroll top left;
	--primaryHover: #bc5b01;
	/* --primaryHover:#93b874; */
}

body {
	/* font-size: 1.2rem !important; */
	font-family: 'Kalpurush', sans-serif !important;
	background: var(--bodyBackground) !important;
}

.container-lg,
.container-md,
.container-sm {
	max-width: 1017px !important;
}

section {
	margin-bottom: 10px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: var(--primaryHover) !important;
}
.post-title {
	text-align: justify;
	font-size: 1.2rem;
	font-weight: bold;
}

ul {
	list-style: none;
}
.post_title {
	--max-lines: 1;
	display: -webkit-box !important;
	-webkit-line-clamp: var(--max-lines);
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    Section 1
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.home-slider .carousel .carousel-inner .carousel-item img {
	height: 265px;
}
.home-slider .carousel .carousel-inner .carousel-item .banner-img-overla {
	height: 100%;
	width: 100%;
	background: black;
	box-shadow: 0 3px 10px rgb(31 45 61 / 13%);
	border-radius: 5px;
}

.home-slider .carousel .carousel-inner .carousel-item img {
	opacity: 0.4;
}

/* .post-content {
    position: relative;
    bottom: 32%;
    padding: 0px 10px;
} */
/* .home-slider .post-content a {
    font-weight: 900;
    padding-bottom: 5px;
} */

/* .home-slider .post-content a,
.home-slider .post-content p {
    color: white;
} */
.latestPostDec {
	--max-lines: 2;
	display: -webkit-box !important;
	-webkit-line-clamp: var(--max-lines);
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/* .home-slider .post-content span:hover {
    color: var(--primaryHover) !important;
} */

/* .home-slider .post-content p {
    font-size: 15px;
} */

.side-title ul li p {
	text-align: justify;
	font-size: 17px;
	font-weight: 500;
}
.side-title ul li svg {
	margin-right: 5px;
	width: 20px;
	height: 20px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    Section 2
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.Section-2 {
	box-shadow: 0 3px 10px rgb(31 45 61 / 13%);
	border-radius: 5px;
	padding: 5px 0px;
	background: white;
}

/* .Section-2 .Sec-2-title,
.Section-2 .Sec-2-search {
    background: var(--primaryBackground);
    border: 3px solid white;
} */

.Section-2 .Sec-2-title h6,
.Section-2 .Sec-2-search h6 {
	padding-top: 6px;
}

.Section-2 .Sec-2-title svg,
.Section-2 .Sec-2-search svg {
	width: 30px;
	height: 25px;
}

.Section-2 .Sec-2-search .search-input {
	margin-top: -2px;
	height: 27px;
}

.Sec-2-title .button {
	position: absolute;
	right: 35%;
	padding: 10px;
	font-weight: 900;
	color: black;
	background-color: red;
	animation-name: example;
	/* animation: example 0.5s infinite; */
	animation: example 1s infinite 2s cubic-bezier(0.25, 0, 0, 1);
	animation-timing-function: ease-out;
	animation-delay: 2s;
}

@keyframes example {
	0% {
		background-color: red;
	}

	/* 25% {
        background-color: yellow;
    }

    50% {
        background-color: red;
        color: white;
    } */

	100% {
		background-color: white;
	}
}

/* Search box  */
.search {
	width: 98%;
	position: relative;
	box-shadow: 0 0 40px rgb(51 51 51 / 10%);
}
.search input {
	padding: 7px;
	text-indent: 25px;
	border: 2px solid #d6d4d4;
}
.search input:focus {
	box-shadow: none;
	border: 2px solid blue;
}
.search .fa-search {
	position: absolute;
	top: 7px;
	left: 10px;
	height: 25px;
	width: 25px;
}
.search button {
	position: absolute;
	top: 5px;
	right: 6px;
	height: 28px;
	font-size: 13px;
	width: 60px;
	background-color: var(--primaryColor);
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    Blog Post Cart
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.post-card {
	background: #f6ffef;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 20px;
	cursor: pointer;
}
.post-card .post-card-img {
	position: relative;
	height: 218px;
}
.post-card .post-card-img::before {
	opacity: 0;
	content: '';
	position: absolute;
	inset: 0;
	background: linear-gradient(180deg, #f6ffef00 70%, #f6ffef 100%);
	transition: opacity 0.3s linear;
}
.post-card .post-card-img img.post-banner {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
}
.post-card .post-card-img .post-card-meta {
	opacity: 0;
	/* visibility: hidden; */
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: end;
	justify-content: space-between;
	padding: 10px;
	transition: opacity 0.3s linear;
}
.post-card .post-card-img .post-card-meta .post-card-author {
	display: flex;
	gap: 7px;
	align-items: end;
}
.post-card .post-card-img .post-card-meta .post-card-author .post-author-username {
	font-weight: 600;
	font-size: 16px;
	color: #484848;
}
.post-card .post-card-img .post-card-meta .post-card-author .post-author-image {
	width: 40px;
	height: 40px;
	background: #f9f9f9;
	border-radius: 5px;
	overflow: hidden;
}
.post-card .post-card-img .post-card-meta .post-tag {
	margin-bottom: 0;
	font-weight: 500;
	font-size: 14px;
	text-align: right;
	padding: 2px 6px;
	color: #484848;
	background: #48484825;
	backdrop-filter: blur(2px);
	border-radius: 5px;
}
.post-card .post-card-body {
	padding: 10px;
}
.post-card .post-card-body h4.post-title {
	font-weight: 700;
	font-size: 20px;
}
.post-card .post-card-body .post-body {
	font-size: 14px;
	color: #484848;
	margin-bottom: 0;
}
.post-card:hover {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.post-card:hover .post-card-img .post-card-meta,
.post-card:hover .post-card-img::before {
	opacity: 1;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    submit post form
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.submit-post .form-group label,
.submit-post .form-group input {
	margin-bottom: 11px;
}

.submit-post .alert button {
	height: 0px !important;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    Li's Login Register
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.login-block {
	background: #de6262;
	background: var(--primaryBackground);
	/* background: -webkit-linear-gradient(to bottom, #ffb88c, #de6262);
    background: linear-gradient(to bottom, #ffb88c, #de6262); */
	float: left;
	width: 100%;
	padding: 30px 0 50px 0;
}

.banner-sec {
	background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat left bottom;
	background-size: cover;
	min-height: 480px;
	border-radius: 0 10px 10px 0;
	padding: 0;
}

.banner-sec .carousel-inner .carousel-item img {
	opacity: 0.4;
}

.login-container {
	background: #fff;
	border-radius: 10px;
	box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.banner-sec .carousel-inner {
	border-radius: 0 10px 10px 0;
}

.carousel-caption {
	text-align: left;
	left: 5%;
}

.login-sec {
	padding: 50px 30px;
	position: relative;
}

.login-sec .copy-text {
	position: absolute;
	width: 80%;
	bottom: 20px;
	font-size: 13px;
	text-align: center;
}

.login-sec .copy-text i {
	color: #feb58a;
}

.login-sec .copy-text a {
	color: #e36262;
}

.login-sec h2 {
	margin-bottom: 30px;
	font-weight: 800;
	font-size: 30px;
	color: #de6262;
}

.login-sec h2:after {
	content: ' ';
	width: 100px;
	height: 5px;
	background: #feb58a;
	display: block;
	margin-top: 20px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
}

.btn-login {
	background: #de6262;
	color: #fff;
	font-weight: 600;
}

.banner-text {
	width: 70%;
	position: absolute;
	bottom: 40px;
	padding-left: 20px;
}

.banner-text h2 {
	color: #fff;
	font-weight: 600;
}

.banner-text h2:after {
	content: ' ';
	width: 100px;
	height: 5px;
	background: #fff;
	display: block;
	margin-top: 20px;
	border-radius: 3px;
}

.banner-text p {
	color: #fff;
}

/*========================================================
                    Side Bar
=========================================================*/
.Sidebar {
	/* border: 1px solid white; */
	border-radius: 5px 5px 0px 0px;
	box-shadow: 0 3px 10px rgb(31 45 61 / 13%);
}

.Sidebar .Sidebar-body {
	border-bottom: 1px solid #eee;
}

.Sidebar .nav {
	box-shadow: 0 3px 7px rgb(0 0 0 / 7%);
	-ms-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.07);
	-o-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: 0 3px 7px rgb(0 0 0 / 7%);
}

.Sidebar .nav .nav-link {
	display: block;
	padding: 10px 10px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
	border-radius: 0px !important;
	border: 0px;
}

.Sidebar .Sidebar-body .nav-tabs .nav-link {
	/* margin: 0px !important; */
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	transition: none !important;
}

.Sidebar .Sidebar-body .nav-tabs .nav-link.active {
	border-radius: 0px !important;
	border-color: #cbcbcb;
	border-style: solid;
	border-width: 0px 1px !important;
}

.Sidebar .Sidebar-body .nav-tabs #sidebar-title-tab-new-blog.active {
	border-left: none !important;
}

.Sidebar .Sidebar-body .nav-tabs #sidebar-title-tab-others.active {
	border-right: none !important;
}

.Sidebar .nav.nav-tabs {
	border-radius: 0px;
}

.blog-aside .Sidebar .Sidebar-body .tab-content ul li:last-child hr {
	display: none;
}

.blog-aside .Sidebar .Sidebar-body .tab-content ul li {
	text-align: justify;
	padding: 0px 13px;
	font-size: 16px;
	font-weight: 400;
}

.blog-aside .Sidebar .Sidebar-body .tab-content ul li svg {
	width: 20px;
	height: 20px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++
                    Media Query
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
@media screen and (max-width: 575px) {
	/* .home-slider {
        margin-bottom: 15px;
    } */
	/* .post-content {
        bottom: 42%;
    } */

	.side-title {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.Sec-2-title {
		display: none !important;
	}
	.banner-sec {
		display: none !important;
	}
	.Sec-2-title .button {
		right: 3% !important;
	}
	.search {
		margin: 0 auto;
	}
	/* .search input{
        padding: 10px;
    }
    .search .fa-search{
        top: 10px !important;
    }
    .search button {
        top: 10px;
        right: 10px;
        height: 30px;
        font-size: 15px;
    } */
}
@media screen and (max-width: 992px) {
	.side-title {
		display: none !important;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.search button {
		width: 24% !important;
	}
	.search input::placeholder {
		font-weight: bold;
		font-size: 10px !important;
	}
	.Sidebar .nav .nav-link {
		display: block;
		font-size: 11px;
		font-weight: 500;
		padding: 10px 7px;
	}
}

@media screen and (min-width: 992px) {
	.Main-Container {
		width: 95% !important;
	}
}
